/* IMPORTS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.kumbh-sans-100 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.kumbh-sans-300 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.kumbh-sans-500 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.kumbh-sans-600 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.kumbh-sans-bold {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.kumbh-sans-900 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

/* Gerais */
body, html {
  font-family: "Kumbh Sans", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  z-index: 10;
}
#header .navbar {
  background-color: transparent !important;
}
#header .navbar #navbarNav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#header .navbar #navbarNav .navbar-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .navbar #navbarNav .navbar-nav li a {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  text-transform: inherit;
  color: #ffffff;
  text-align: center;
  margin: 0 10px;
}
#header .navbar #navbarNav .navbar-nav li a img {
  width: 100px;
  height: 100px;
}

.banner {
  position: relative;
  background-color: #830c4f;
  height: 100vh;
}
.banner .banner-content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.banner .banner-content h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 70px;
  color: #ffa51d;
}
.banner .banner-content h2 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 90px;
  color: #ffffff;
}
.banner .banner-content a.btn-banner {
  background-color: #ffa51d;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.banner .banner-content a.btn-banner:hover {
  background-color: white;
  color: #ffa51d;
}
.banner .banner-icone {
  position: absolute;
  top: -100%;
  left: -40%;
  width: 1000px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: 1;
}
.banner .banner-icone.right {
  top: -75%;
  left: auto;
  right: -70%;
  -webkit-transform: rotate(-27deg);
          transform: rotate(-27deg);
  width: 1200px;
}
.banner .banner-icone.bottom {
  top: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */